---
import Layout from '../layouts/Layout.astro';
---

<Layout
  description="Nuestra política de privacidad te ayudará a entender qué información se recopila y cómo se utiliza."
  title="Política de privacidad · Iglesia Red TLX"
>
  <div class="mx-auto max-w-3xl px-4 py-16 sm:px-6 sm:py-20 lg:px-8">
    <div class="sm:pb:20 flex flex-col gap-4 pb-16 text-center">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl">Política de privacidad</h1>
      <p class="text-base">Última actualización: 16 de enero de 2025</p>
    </div>
    <div>
      <p class="mb-4">
        En Iglesia Red TLX, nos comprometemos a proteger tu privacidad. Esta política de privacidad
        describe cómo recopilamos, utilizamos y protegemos tu información personal cuando usas
        nuestros servicios. Por favor, lee este documento para entender nuestras prácticas.
      </p>
      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">1. Información que recopilamos</h2>
      <p class="mb-6">
        Podemos recopilar los siguientes tipos de información personal cuando interactúas con
        nuestro website:
      </p>
      <ul class="list-inside list-disc space-y-4">
        <li>
          Información que proporcionas: Cuando te registras, creas una cuenta o usas ciertas
          características, te pedimos tu nombre, correo electrónico, detalles de contacto y otra
          información relevante.
        </li>
        <li>
          Cookies y tecnologías similares: Utilizamos cookies y tecnologías similares para mejorar
          tu experiencia, entender tus patrones de uso y mejorar nuestro website.
        </li>
      </ul>
      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">2. Cómo usamos tu información</h2>
      <p class="mb-4">Podemos usar tu información personal para los siguientes propósitos:</p>
      <ul class="list-inside list-disc space-y-4">
        <li>
          Para proporcionar y mejorar nuestro website: Tu información nos ayuda a ofrecerte una
          experiencia personalizada y amigable.
        </li>
        <li>
          Comunicación: Podemos usar tu correo electrónico o detalles de contacto para enviarte
          actualizaciones importantes, boletines informativos y contenido promocional. Puedes optar
          por no recibir estas comunicaciones en cualquier momento.
        </li>
        <li>
          Análisis: Utilizamos datos agregados y anónimos para analizar el comportamiento de los
          usuarios y mejorar nuestro website.
        </li>
      </ul>
      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">Contacta con nosotros</h2>
      <p class="mb-4">
        Si tienes alguna pregunta o inquietud sobre nuestra política de privacidad, por favor
        contacta con nosotros a través de correo electrónico, número de teléfono ó dirección].
      </p>
    </div>
  </div>
</Layout>
